.page-break {
  page-break-after: always;
  /* Ensures a new page starts after this element */
  break-after: page;
  /* Modern browsers support this */
}

.first-page {
  position: relative;
  height: 100vh;
  /* Full-page height */
  padding: 20px;
  box-sizing: border-box;
}

.second-page {
  height: 100vh;
}

.third-page {
  height: 100vh;
}

.first-page-footer {
  position: absolute;
  bottom: 20px;
  /* Distance from bottom */
  left: 0;
  right: 0;
  text-align: center;
}



@media print {
  body {
    background-color: #fff;
  }

  .first-page {
    height: 98vh;
    padding-left: 30px !important;
    /* Ensures the height fits one printed page */

    .first-page-top {
      text-align: center;
      font-size: 15px;

      img {
        margin-bottom: 1rem;
        height: 5rem;
        width: 5rem;
        text-align: center;
      }

      .ack-receipt {
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    .row {
      margin-top: 25px;
    }

    .title {
      font-weight: 600;
    }

    .value {
      padding-left: 1.3rem;
    }

    .title,
    .value,
    .seal-signature {
      font-size: 15px;
    }

    .tin-table {
      td {
        width: 30px;
        height: 22px;
        border: 1px solid #202020;
        text-align: center;
      }
    }

    .retrun-register-table {
      margin-top: 40px;
      margin-bottom: 40px;
      width: 330px;

      td {
        border: 1px solid #202020;
        padding: 5px;
        font-size: 13px;
      }
    }

    .seal-signature {
      margin-top: 5rem !important;
    }
  }

  .page-break {
    display: block;
  }

  .first-page,
  .second-page,
  .third-page {
    margin: 0;
    padding: 20px;
    /* Add padding if needed */
  }

  .second-page,
  .third-page {
    height: 100vh;
  }
}